<a href="https://colab.research.google.com/github/burgosje/Aula08_FAST/blob/main/FAST8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 08 do FAST Transição do Cesar School

Numpy

Array só pode ter dados do mesmo tipo

In [ ]:
import numpy as np

arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([6, 7, 8, 9, 10])
arr3 = np.array([1, 2, 3])

soma = arr1 + arr2
print("Soma dos arrays: ",soma)

Soma dos arrays:  [ 7  9 11 13 15]

In [ ]:
import numpy as np

arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([5, 6, 7, 8])

#Soma
soma = arr1 + arr2
print(f"A soma é {soma}")

#Subtração
subtracao = arr1 - arr2
print(f"A subtração é {subtracao}")

#Multiplicação
multiplicacao = arr1 * arr2
print(f"A multiplicação é {multiplicacao}")

#Divisão
#np.round(divisao,2): função para arrays que define duas casas decimais
#Pode ser que para usar :.2f não funciona no Colab ou precisa inserir uma biblioteca
divisao = arr1 / arr2
print(f"A divisão é {np.round(divisao,2)}")

A soma é [ 6  8 10 12]
A subtração é [-4 -4 -4 -4]
A multiplicação é [ 5 12 21 32]
A divisão é [0.2  0.33 0.43 0.5 ]

In [ ]:
#Usando arrays com numpy faça média das notas de uma pessoa estudante

import numpy as np

notas = np.array([8.5, 6.5, 8.0, 10.0, 5.5])
media_notas = np.mean(notas)
print(f"A média é {np.round(media_notas,2)}")

A média é 7.7

In [ ]:
#Crie um programa que utilize o NumPy para realizar análises específicas sobre as
#notas, como calcula a média das notas dos três primeiros alunos e verificar
#quais alunos tiraram notas acima de 7

#lista nota"S"

import numpy as np
#Como já importou uma vez, não precisa importar de novo

notas = []

for i in range(5):
  nota = float(input("Digite uma nota: "))
  notas.append(nota)
#Uma nota vai sendo add por vez

#Converter a lista em array
notas = np.array(notas)
#Calcular a média
media_estudante = np.mean(notas[:3])

nota_acima_sete = notas[:3]
nota_acima_sete = nota_acima_sete[nota_acima_sete > 7]

print(f"A média dos 3 primeiros alunos foi {np.round(media_estudante,2)}")
print(f"Alunos acima de 7 {nota_acima_sete}")
max = np.max(notas)
print(f"A nota máxima foi {max}")
min = np.min(notas)
print(f"A nota mínima foi {min}")

Digite uma nota: 10
Digite uma nota: 8
Digite uma nota: 9
Digite uma nota: 5
Digite uma nota: 6
A média dos 3 primeiros alunos foi 9.0
Alunos acima de 7 [10.  8.  9.]
A nota máxima foi 10.0
A nota mínima foi 5.0

Introdução a Pandas

In [ ]:
data = {
    "Nome": ["Alice", "Bob", "Charlie", "David"],
    "Idade": [25, 30, 35, 40],
    "Cidade": ["Nova York", "Los Angeles", "Chicago", "Detroit"]
}

df = pd.DataFrame(data)
print(df)

      Nome  Idade       Cidade
0    Alice     25    Nova York
1      Bob     30  Los Angeles
2  Charlie     35      Chicago
3    David     40      Detroit

In [ ]:
dados = {
    "Nome": ["Jé", "Maria", "João"],
    "Cidade": ["Recife", "Porto Alegre", "Aracajú"],
    "Idade": [32, 30, 49],
    "Telefone": ["(81) 98374-2812", "(51) 98472-3920", "(01 95748-3921)"]
}
#Criar dataframe
df = pd.DataFrame(dados)
print(df)

    Nome        Cidade  Idade         Telefone
0     Jé        Recife     32  (81) 98374-2812
1  Maria  Porto Alegre     30  (51) 98472-3920
2   João       Aracajú     49  (01 95748-3921)

In [ ]:
import pandas as pd

estados_nordeste = [["Alagoas", "AL", "3,4 milhões", "Maceió"],
                    ["Bahia", "BA", "15,4 milhões", "Salvador"],
                    ["Ceará", "CE", "9,2 milhões", "Fortaleza"]
           ]

#DataFrame
df = pd.DataFrame(estados_nordeste,columns=["Estado", "Sigla", "População", "Capital"])

#adicionar uma informação/coluna
idh = [0.631, 0.631, 0.682]
df["IDH"] = idh

print(df)

    Estado Sigla     População    Capital    IDH
0  Alagoas    AL   3,4 milhões     Maceió  0.631
1    Bahia    BA  15,4 milhões   Salvador  0.631
2    Ceará    CE   9,2 milhões  Fortaleza  0.682

In [ ]:
import pandas as pd

estados_nordeste = [["Alagoas", "AL", "3,4 milhões", "Maceió"],
                    ["Bahia", "BA", "15,4 milhões", "Salvador"],
                    ["Ceará", "CE", "9,2 milhões", "Fortaleza"]
           ]

#DataFrame
df = pd.DataFrame(estados_nordeste,columns=["Estado", "Sigla", "População", "Capital"])

#adicionar uma informação/coluna
idh = [0.631, 0.631, 0.682]
df["IDH"] = idh

#Imprimir um elemento
print(df["Estado"])

0    Alagoas
1      Bahia
2      Ceará
Name: Estado, dtype: object

In [ ]:
import pandas as pd

estados_nordeste = [["Alagoas", "AL", "3,4 milhões", "Maceió"],
                    ["Bahia", "BA", "15,4 milhões", "Salvador"],
                    ["Ceará", "CE", "9,2 milhões", "Fortaleza"]
           ]

#DataFrame
df = pd.DataFrame(estados_nordeste,columns=["Estado", "Sigla", "População", "Capital"])

#adicionar uma informação/coluna
idh = [0.631, 0.631, 0.682]
df["IDH"] = idh

#Imprimir um elemento
print(df[["Estado", "Sigla"]])

    Estado Sigla
0  Alagoas    AL
1    Bahia    BA
2    Ceará    CE

In [ ]:
selecionar linhas

dados de linha e coluna:
loc


iloc

In [ ]:
import pandas as pd

estados_nordeste = [["Alagoas", "AL", "3,4 milhões", "Maceió"],
                    ["Bahia", "BA", "15,4 milhões", "Salvador"],
                    ["Ceará", "CE", "9,2 milhões", "Fortaleza"]
           ]

#DataFrame
df = pd.DataFrame(estados_nordeste,columns=["Estado", "Sigla", "População", "Capital"])

print(df.loc[0])
print(df.loc[2])

Estado           Alagoas
Sigla                 AL
População    3,4 milhões
Capital           Maceió
Name: 0, dtype: object
Estado             Ceará
Sigla                 CE
População    9,2 milhões
Capital        Fortaleza
Name: 2, dtype: object

In [ ]:
import pandas as pd

estados_nordeste = [["Alagoas", "AL", "3,4 milhões", "Maceió"],
                    ["Bahia", "BA", "15,4 milhões", "Salvador"],
                    ["Ceará", "CE", "9,2 milhões", "Fortaleza"]
           ]

#DataFrame
df = pd.DataFrame(estados_nordeste,columns=["Estado", "Sigla", "População", "Capital"])

print(df.loc[1:2])

  Estado Sigla     População    Capital
1  Bahia    BA  15,4 milhões   Salvador
2  Ceará    CE   9,2 milhões  Fortaleza

In [ ]:
import pandas as pd

estados_nordeste = [["Alagoas", "AL", "3,4 milhões", "Maceió"],
                    ["Bahia", "BA", "15,4 milhões", "Salvador"],
                    ["Ceará", "CE", "9,2 milhões", "Fortaleza"]
           ]

#DataFrame
df = pd.DataFrame(estados_nordeste,columns=["Estado", "Sigla", "População", "Capital"])

print(df.loc[:1])

    Estado Sigla     População   Capital
0  Alagoas    AL   3,4 milhões    Maceió
1    Bahia    BA  15,4 milhões  Salvador

In [ ]:
import pandas as pd

estados_nordeste = [["Alagoas", "AL", "3,4 milhões", "Maceió"],
                    ["Bahia", "BA", "15,4 milhões", "Salvador"],
                    ["Ceará", "CE", "9,2 milhões", "Fortaleza"]
           ]

#DataFrame
df = pd.DataFrame(estados_nordeste,columns=["Estado", "Sigla", "População", "Capital"])

print(df.loc[1:2,["Estado", "Sigla"]])

  Estado Sigla
1  Bahia    BA
2  Ceará    CE

In [1]:
#iloc
#baseado na posição

import pandas as pd

estados_nordeste = [["Alagoas", "AL", "3,4 milhões", "Maceió"],
                    ["Bahia", "BA", "15,4 milhões", "Salvador"],
                    ["Ceará", "CE", "9,2 milhões", "Fortaleza"]
           ]

#DataFrame
df = pd.DataFrame(estados_nordeste,columns=["Estado", "Sigla", "População", "Capital"])

print(df.iloc[1:2, 0:2])

  Estado Sigla
1  Bahia    BA

In [2]:
import pandas as pd

estados_nordeste = [["Alagoas", "AL", "3,4 milhões", "Maceió"],
                    ["Bahia", "BA", "15,4 milhões", "Salvador"],
                    ["Ceará", "CE", "9,2 milhões", "Fortaleza"]
           ]

#DataFrame
df = pd.DataFrame(estados_nordeste,columns=["Estado", "Sigla", "População", "Capital"])

print(df.iloc[1:2, 0:3])

  Estado Sigla     População
1  Bahia    BA  15,4 milhões

In [ ]:
#Crie um DataFrame que represente informações sobre estudantes, incluindo nome,
#idade e média de notas. Em seguida, realiza as seguintes tarefas:
#Crie um DataFrame com os seguinte dados:
#
#Nome
#Média de notas: 8.5, 7.8, 9.2, 6.5, 8.9
#Adicione uma coluna chamada "Status" que contenha "Aprovado" para estudantes
#com média de notas maior ou igual a 7.0 e "Reprovado" para os demais.
#Selecione apenas os estudantes "Aprovados" e crie um novo DataFrame com esse
#dados

import pandas as pd

alunes = [["Jé", "32", "8.5"],
              ["Mari", "25", "7.8"],
              ["Gi", "76", "9.2"],
              ["Cup", "54", "6.5",],
              ["Brianna", "45", "8.9"]
]

df_alunes = pd.DataFrame(alunes,columns=["Nome", "Idade", "Média de notas"])

status = ["Aprovade", "Aprovade", "Reprovade", "Reprovade", "Aprovade"]
df_alunes["Status"] = status

df_aprovades = df_alunes[df_alunes["Status"] == "Aprovade"]
print(df_aprovades)

      Nome Idade Média de notas    Status
0       Jé    32            8.5  Aprovade
1     Mari    25            7.8  Aprovade
4  Brianna    45            8.9  Aprovade

In [3]:
#Crie um DataFrame com os seguintes dados:
#Produto: Smarthphone, Laptop, Tablet, Fone de Ouvido, SmartTV
#Quantidade vendida: 100, 50, 80, 120, 30
#Preço unitário (em reais): 800, 2500, 600, 80, 1800
#Calcule a receita total para cada produto (quantidade vendida multiplicada pelo
#preço unitário e adicione essas informações como uma nova coluna chamada
#"Receita"
#Selecione apenas os produtos que tiveram uma quantidade vendida superir a 80
#unidades

dados = {
   "Produto": ["Smarthphone", "Laptop", "Tablet", "Fone de Ouvido", "SmartTV"],
   "Quantidade_vendida": [100, 50, 80, 120, 30],
   "Preco_unitario": [800, 2500, 600, 80, 1800],
}

df_dados = pd.DataFrame(dados)
df_dados["Receita"] = df_dados["Quantidade_vendida"] * df_dados["Preco_unitario"]
df_produtos_mvendidos = df_dados[df_dados["Quantidade_vendida"] > 80]

print(df_produtos_mvendidos)

          Produto  Quantidade_vendida  Preco_unitario  Receita
0     Smarthphone                 100             800    80000
3  Fone de Ouvido                 120              80     9600

In [4]:
numeros = {
    "num1": [1, 2, 3, 4, 5],
    "num2": [6, 7, 8, 9, 10]
}
df_numeros = pd.DataFrame(numeros)

#Soma
df_numeros["Soma"] = df_numeros["num1"] + df_numeros["num2"]

#Subtração
df_numeros["Sub"] = df_numeros["num1"] - df_numeros["num2"]

#Multiplicação
df_numeros["Mult"] = df_numeros["num1"] * df_numeros["num2"]

#Divisão
#Subtração
df_numeros["Div"] = df_numeros["num1"] / df_numeros["num2"]

print(df_numeros)

   num1  num2  Soma  Sub  Mult       Div
0     1     6     7   -5     6  0.166667
1     2     7     9   -5    14  0.285714
2     3     8    11   -5    24  0.375000
3     4     9    13   -5    36  0.444444
4     5    10    15   -5    50  0.500000

In [ ]:
#Soma dos elementos da coluna
sum()